/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e1a47; /* Dark purplish background */
    background-image: url('/static/img/BackGrounds/background3.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    line-height: 1.6;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: start;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}

header h1 {
    font-size: 2.5em;
}

header h2 {
    font-size: 2.5em;
    text-align: end;
}

/* Main Content */
.content {
    padding: 20px 40px;
    padding-bottom: 20rem;
}

@keyframes float {
    0%, 100% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-20px); /* Moves up slightly at the midpoint */
    }
}

.astro {
    height: 38vh;
    transform: translate(-50%, -50%);
    animation: float 3s ease-in-out infinite;
}

#mission {
    display: flex;
    flex-direction: column;
}

.mission-content {
    display: flex;
    align-items: flex-start; /* Aligns image and text at the top */
}

.astro {
    height: 30vh; /* Adjust the height as needed */
    margin-right: 20px; /* Space between the image and the text */
}

.mission-content p {
    flex: 1; /* Ensures the text takes up the remaining space */
    margin-right: 20px;
}


section {
    width:50%;
    margin-bottom: 40px;
    margin: auto;
    border-radius: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 2rem;
    border: 2px solid hsla(0, 0%, 100%, .5);
    background-color: hsla(0, 0%, 100%, .01);
    backdrop-filter: blur(30px);
}

section h2 {
    font-size: 2rem;
    text-align: end;
    margin-bottom: 10px;
    margin-right: 1.5rem;
}

section p {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
} 
