<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="/static/css/AboutUs.css">
</head>
<body>

    <!-- Header Section -->
    <header>
        <h4>About Us</h4>
    </header>

    <!-- Main Content Section -->
    <div class="content">
        <!-- Our Mission Section -->
        <section id="mission">
            <h2>Our Mission</h2>
            <p>We are dedicated to making learning about rights fun and engaging for children through interactive games, animated videos, and quizzes. Our goal is to empower children by educating them about their rights in a way that is accessible and enjoyable.</p>
        </section>

        <!-- Team Members Section -->
       <!--<section id="team">
            <h2>Team Members</h2>
            <p>Ayanabh Saikia</p>
        </section>

        <section id="supervisor">
            <h2>Project Supervisor</h2>
            <p>Dr. Jitendra Pratap Singh Mathur</p>
        </section>-->
    </div>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 WonderHurdles. All Rights Reserved.</p>
    </footer>

</body>
</html>
