<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="/static/css/AboutUs.css">
</head>
<body>

    <!-- Header Section -->
    <header>
        <h4>About Us</h4>
    </header>

    <!-- Main Content Section -->
    <div class="content">
        <!-- Our Mission Section -->
        <section id="mission">
            <h2 class:>Our Mission</h2>
            <div class="mission-content">
                <a><img class="astro" src="/static/img/misc/—Pngtree—cute little astronaut spaceman ride_6313506.png"></a>
                <p>We are committed to making the learning process about children's rights both engaging and enjoyable. Our platform offers a variety of interactive tools designed to capture the attention and imagination of young learners. By combining interactive games, animated videos, and quizzes, we aim to transform the complex subject of children’s rights into something that feels approachable and exciting.</p>
            </div>
        </section>
        

        

        <!-- Team Members Section -->
       <!--<section id="team">
            <h2>Team Members</h2>
            <p>Ayanabh Saikia</p>
        </section>

        <section id="supervisor">
            <h2>Project Supervisor</h2>
            <p>Dr. Jitendra Pratap Singh Mathur</p>
        </section>-->
    </div>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 WonderHurdles. All Rights Reserved.</p>
    </footer>

</body>
</html>
